<!DOCTYPE html>
<html>
<head>
    <title>Learning Assistant</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div id="file_section">
        <div id="drop_zone">Drop files here</div>
        <div id="file_list">
            <select id="file_select" size="10"></select>
            <button id="open_file_button">Open File</button>
            <button id="delete_file_button">Delete</button>
        </div>
    </div>
    <div id="chat">
        <div id="chat_output"></div>
        <input type="text" id="chat_input" placeholder="Ask something...">
        <button id="send_button">Send</button>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
